---
import Main from "../layouts/Main.astro";
import ResearchCard from "../components/ResearchCard.astro";
import FOMButton from "../components/FOMButton.astro";
import ScrollDownIndicator from "../components/ScrollDownIndicator.astro";

import meraxesThumb from "../assets/DRAGONS_EoR_cube-HRthumb.jpg";
import mhysaThumb from "../assets/DRAGONS-composite_EoR-PG.jpg";
import gnz11Thumb from "../assets/gnz11-crop.jpg";

import { getImage } from "astro:assets";
import bannerRaw from "../assets/banner.jpg";
import orthflowLogoRaw from "../assets/orthoflow-banner.svg";
import planetRaw from "../assets/planet.png";
import fileIconRaw from "../assets/file-lines-solid.svg";
import docsIconRaw from "../assets/book-solid.svg";
import webIconRaw from "../assets/globe-solid.svg";
import githubIconRaw from "../assets/github-solid.svg";
import phytestLogoRaw from "../assets/phytest-logo.png";
import deidentRaw from "../assets/deident.png";
const banner = await getImage({ src: bannerRaw });
const orthoflowLogo = await getImage({ src: orthflowLogoRaw });
const planet = await getImage({ src: planetRaw });
const fileIcon = await getImage({ src: fileIconRaw });
const docsIcon = await getImage({ src: docsIconRaw });
const phytestLogo = await getImage({ src: phytestLogoRaw });
const githubIcon = await getImage({ src: githubIconRaw });
const deident = await getImage({ src: deidentRaw });
const webIcon = await getImage({ src: webIconRaw });
---

<Main title="Research">
  <div class="m-8">
    <div
      class="tall:h-custom tall:flex tall:flex-col tall:relative items-center justify-center"
    >
      <h1 class="text-6xl font-black text-center mb-6">RESEARCH</h1>
      <div class="prose mx-auto text-sm md:text-lg">
        <p>
          I've had the opportunity to work on a wide range of research topics
          over my time in Academia.
        </p>

        <ul class="md:flex md:flex-wrap mb-2 md:pl-32 pl-8">
          <li class="w-1/2 px-2"><strong>Astrophysics</strong><sup>†</sup></li>
          <li class="w-1/2 px-2">Climate change</li>
          <li class="w-1/2 px-2">Biosecurity</li>
          <li class="w-1/2 px-2">Wildfires</li>
          <li class="w-1/2 px-2">Medical text de-identification</li>
          <li class="w-1/2 px-2">Phylogenetics</li>
          <li class="w-1/2 px-2">Hyperspectral imaging</li>
          <li class="w-1/2 px-2">Eye-tracking</li>
          <li class="w-1/2 px-2">Computer vision</li>
          <li class="w-1/2 px-2">... and more!</li>
        </ul>
        <span class="text-sm md:pl-32 pl-8"
          ><i>†: My main research area.</i></span
        >
        <p>
          See below for a selection of my research projects. For a complete
          listing of my publications (across all domains), see my <a
            href="https://orcid.org/0000-0002-3166-4614"
            ><i class="ai ai-orcid"></i> ORCID page</a
          >.
        </p>
      </div>
      <div class="tall:visible invisible">
        <ScrollDownIndicator />
      </div>
    </div>

    <div class="my-32">
      <h2 class="text-5xl font-black text-center mb-6">ASTRONOMY</h2>
      <div class="my-14">
        <div
          class="bg-cover bg-no-repeat overflow-hidden -mx-8 px-8 py-4"
          style=`background-image: linear-gradient(to left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 90%), url('${banner.src}')`
        >
          <!-- <div class="md:w-[70%]"> -->
        <div class="my-auto md:w-[70%] md:max-w-[600px]">
            <h1 class="text-2xl font-extrabold">DRAGONS</h1>
            <p class="mb-6 tracking-tight">
              THE <b>D</b>ARK-AGES <b>R</b>EIONISATION <b>A</b>ND <b>G</b>ALAXY <b
                >O</b
              >BSERVABLES FROM <b>N</b>UMERICAL <b>S</b>IMULATIONS PROGRAMME
            </p>
            <p class="mb-6">
              The aim of DRAGONS is to explore the formation end evolution the
              first galaxies and, in particular, their role in the reionisation
              of Universe. To do this we developed a new semi-analytic galaxy
              formation model, Meraxes, which is tightly coupled with a
              semi-numerical scheme in order to describe the growth and
              structure of ionised regions. I was the author and lead developer
              of Meraxes.
            </p>
            <div class="flex gap-4 flex-nowrap">
              <FOMButton
                link="https://blogs.unimelb.edu.au/stuart-wyithe/#tab56"
              />
              <a href="/dragons-media">
                <button
                  class="font-black border-slate-700 border-2 rounded-lg px-2 mb-1 w-fit hover:bg-indigo-200 flex gap-2"
                  >Media <span aria-hidden="true" class="my-auto"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="16"
                      width="20"
                      viewBox="0 0 640 512"
                      ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M256 0H576c35.3 0 64 28.7 64 64V288c0 35.3-28.7 64-64 64H256c-35.3 0-64-28.7-64-64V64c0-35.3 28.7-64 64-64zM476 106.7C471.5 100 464 96 456 96s-15.5 4-20 10.7l-56 84L362.7 169c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h80 48H552c8.9 0 17-4.9 21.2-12.7s3.7-17.3-1.2-24.6l-96-144zM336 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM64 128h96V384v32c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V384H512v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192c0-35.3 28.7-64 64-64zm8 64c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V312c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H72zm336 16v16c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H424c-8.8 0-16 7.2-16 16z"
                      ></path></svg
                    ></span
                  ></button
                >
              </a>
            </div>
          </div>
        </div>

        <h3 class="text-3xl font-black text-center mt-12 mb-6 w-full">
          HIGHLIGHTED WORKS
        </h3>
        <div class="flex mx-8">
          <div class="flex gap-8 mx-auto w-full flex-wrap justify-center">
            <ResearchCard
              title="Dark-ages reionization and galaxy formation simulation - XXI. Constraining the evolution of the ionizing escape fraction"
              image={mhysaThumb}
              link="/papers/mhysa"
            />

            <ResearchCard
              title="Dark-ages reionization & galaxy formation simulation VI: The origins and fate of the highest known redshift galaxy"
              image={gnz11Thumb}
              link="/papers/gnz11"
            />

            <ResearchCard
              title="Dark-ages reionization and galaxy formation simulation III: Modelling galaxy formation and the Epoch of Reionization"
              image={meraxesThumb}
              link="/papers/meraxes"
            />
          </div>
        </div>
        <p
          class="mt-8 border-2 border-slate-400 w-fit mx-auto p-2 rounded-md bg-slate-100 text-lg"
        >
          Find a complete listing of all my astronomy research on my <a
            href="https://ui.adsabs.harvard.edu/search/q=author%3A%22Mutch%2C%20Simon%20J.%22&sort=date%20desc%2C%20bibcode%20desc&p_=0"
            class="underline font-bold"><i class="ai ai-ads"></i>ADS page</a
          >.
        </p>
      </div>

      <div class="mt-32 tall:mt-64 my-12">
        <h1
          class="text-6xl font-black text-center invisible h-0 md:visible md:h-full"
        >
          MULTIDISCIPLINARY
        </h1>
        <h1 class="text-5xl font-black text-center md:invisible md:h-0">
          MULTI- DISCIPLINARY
        </h1>
      </div>
      <h3 class="text-3xl font-black text-center mb-14 w-full">
        HIGHLIGHTED WORKS
      </h3>
      <!-- TODO: wildfires, barwon, biosecurity -->
      <div class="my-14">
        <div
          class="bg-no-repeat bg-cover overflow-hidden bg-top-right -mx-8 px-8 py-4"
          style=`background-image: linear-gradient(to left, rgba(255,255,255,0.9) 10%, rgba(255,255,255,1) 100%), url('${orthoflowLogo.src}');`
        >
          <div class="my-auto md:w-[70%] md:max-w-[600px]">
            <h1 class="text-2xl font-extrabold">ORTHOFLOW</h1>
            <p class="mb-4">
              Phylogenomics is a powerful tool for evolutionary species tree
              inference. However, these analyses be complex, involving many
              interconnected steps which are often difficult to stitch together
              and maintain. To address this problem, we developed, a Snakemake
              based pipeline for end-to-end phylogenomic analysis.
            </p>
            <div class="leading-relaxed tracking-tight">
              <a
                href="https://www.researchsquare.com/article/rs-3699210/v2"
                class="flex gap-2 hover:text-indigo-400"
              >
                <img src={fileIcon.src} alt="file icon" />
                <h4 class="font-bold">Read the paper →</h4>
              </a>
              <a
                href="https://rbturnbull.github.io/orthoflow/"
                class="flex gap-2 hover:text-indigo-400"
              >
                <img src={docsIcon.src} alt="docs icon" />
                <h4 class="font-bold">Read the docs →</h4>
              </a>
              <a
                href="https://github.com/rbturnbull/orthoflow"
                class="flex gap-2 hover:text-indigo-400"
              >
                <img src={githubIcon.src} alt="docs icon" />
                <h4 class="font-bold">Check out the code →</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="my-14">
        <div
          class="bg-no-repeat bg-cover overflow-hidden bg-left -mx-8 px
      </div>
"
          style=`background-image: linear-gradient(to right, rgba(255,255,255,0.9) 10%, rgba(255,255,255,1) 100%), url('${phytestLogo.src}')`
        >
        <div class="my-auto md:w-[70%] md:ml-auto mr-8 md:max-w-[600px]">
          <h1 class="text-2xl font-extrabold">PHYTEST</h1>
          <p class="mb-6">
            In the era of SARS-CoV-2 and proliferation of real-time phylogenetic
            pipelines, it is more important than ever to ensure that
            phylogenetic analyses can be easily verified for correctness.
            Phytest is a tool for automating quality control checks on sequence,
            tree and metadata files during phylogenetic analyses. It ensures
            that phylogenetic analyses meet user-defined quality control tests.
          </p>
          <div class="leading-relaxed tracking-tight">
            <a
              href="https://academic.oup.com/bioinformatics/article/38/22/5124/6751773"
              class="flex gap-2 hover:text-indigo-400"
            >
              <img src={fileIcon.src} alt="file icon" />
              <h4 class="font-bold">Read the paper →</h4>
            </a>
            <a
              href="https://phytest-devs.github.io/phytest/index.html"
              class="flex gap-2 hover:text-indigo-400"
            >
              <img src={docsIcon.src} alt="docs icon" />
              <h4 class="font-bold">Read the docs →</h4>
            </a>
            <a
              href="https://github.com/phytest-devs/phytest"
              class="flex gap-2 hover:text-indigo-400"
            >
              <img src={githubIcon.src} alt="docs icon" />
              <h4 class="font-bold">Check out the code →</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="my-14">
        <div
          class="bg-cover bg-no-repeat overflow-hidden py-4"
          style=`background-image: linear-gradient(to left, rgba(255,255,255,0.8) 10%, rgba(255,255,255,1) 80%), url('${deident.src}')`
        >
        <div class="my-auto md:w-[70%] md:max-w-[600px]">
          <h1 class="text-2xl font-extrabold">
            DE-IDENTIFICATION TOOLS FOR GP PATIENT NOTES
          </h1>
          <p class="mb-6">
            In order for digitized general practice patient notes to be used for
            research, they must first be de-identified. Doing so in an automated
            and accurate way poses significant challenges. Whilst a number of
            open-source tools exist, they are typically developed
            internationally (outside Australia) where variations in conventions,
            standard record details (such as phone number formating) etc. are
            different. In this project, we evaluated the performance of four
            open-source clinical text de-identification tools applied to an
            Australian setting.
          </p>
          <div class="leading-relaxed tracking-tight">
            <a
              href="https://www.sciencedirect.com/science/article/abs/pii/S1386505623000382"
              class="flex gap-2 hover:text-indigo-400"
            >
              <img src={fileIcon.src} alt="file icon" />
              <h4 class="font-bold">Read the paper →</h4>
            </a>
          </div>
        </div>
      </div>
      </div>
      <div class="my-14">
        <div
          class="bg-cover bg-no-repeat overflow-hidden bg-center py-4"
          style=`background-image: linear-gradient(to right, rgba(255,255,255,0.8) 10%, rgba(255,255,255,1) 80%), url('${planet.src}')`
        >
        <div class="my-auto md:w-[70%] md:ml-auto mr-8 md:max-w-[600px]">
          <h1 class="text-2xl font-extrabold">
            AGGREGATED AND PREPROCESSED CMIP-CLIMATE DATA
          </h1>
          <p class="mb-6">
            The Sixth Coupled Model Intercomparison Project (CMIP6) comprises a
            huge collection of simulated climate experiments and is forecast to
            produce in the order of 20PB of data. In order to utilise the output
            of these complex simulations for reduced complexity models, the data
            must be preprocessed and homogenised, requiring significant domain
            and 'big-data' expertise. In this work we created a dataset of
            stitched and de-drifted annual, monthly, global, hemispheric and
            land/ocean mean values derived from a selection of CMIP6
            experiments. The resulting dataset is presented via <a
              href="https://cmip6.science.unimelb.edu.au/"
              class="underline">a website</a
            > with accompanying API, for use by the community.
          </p>
          <div class="leading-relaxed tracking-tight">
            <a
              href="https://rmets.onlinelibrary.wiley.com/doi/10.1002/gdj3.113"
              class="flex gap-2 hover:text-indigo-400"
            >
              <img src={fileIcon.src} alt="file icon" />
              <h4 class="font-bold">Read the paper →</h4>
            </a>
            <a
              href="https://cmip6.science.unimelb.edu.au/"
              class="flex gap-2 hover:text-indigo-400"
            >
              <img src={webIcon.src} alt="file icon" />
              <h4 class="font-bold">Explore the data →</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Main>
